NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CRM_URL=http://localhost:3001
NEXT_PUBLIC_CONTACT_EMAIL=hola@midominio.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_BUSINESS_PHONE=
NEXT_PUBLIC_BUSINESS_STREET=
NEXT_PUBLIC_BUSINESS_CITY=
NEXT_PUBLIC_BUSINESS_REGION=
NEXT_PUBLIC_BUSINESS_POSTAL_CODE=
NEXT_PUBLIC_BUSINESS_COUNTRY=
